<%- include('../components/head') %>

<body>
    <% let sessionStatus = loginStatus %>
    <%- include('../components/header', {loggedin: sessionStatus})%>

    <!-- Page title section -->
    <div class="intro" title="Pet Passport">
        <h3 class="h3-main-page">Pet Passport</h3>
    </div>
    <div style="background-color: #55468d;">
        <% for(i = 0; i < petResults.length; i++){ %>
        <div id="section1" style="display:block;">
            <div class="row">
                <div class="column2x2">
                    <% if(i % 2 == 0) {%>
                    <img src="https://source.unsplash.com/640x480?cute-animals" alt="pet picture"
                        class="profile-picture">
                    <% } %>
                    <% if(i % 2 == 1) {%>
                    <img src="https://source.unsplash.com/640x480?cute-animal" alt="pet picture"
                        class="profile-picture">
                    <% } %>
                </div>
                <div class="column2x2">
                    <div class="pet-info-container">
                        <h2 class="pet-info-text">Pet Name: </h2>
                        <p class="pet-info-text"> <%= petResults[i].petName %></p>
                        <div class="row">
                            <h2 class="pet-info-text">Age: </h2>
                            <p class="pet-info-text"> <%= petResults[i].petAge %></p>
                        </div>
                        <div class="row">
                            <h2 class="pet-info-text">Type: </h2>
                            <p class="pet-info-text"> <%= petResults[i].petType %></p>
                        </div>
                        <div class="row">
                            <h2 class="pet-info-text">Breed: </h2>
                            <p class="pet-info-text"> <%= petResults[i].petBreed %></p>
                        </div>
                        <div class="row">
                            <h2 class="pet-info-text">Vaccination Status: </h2>
                            <p class="pet-info-text" <% if(petResults[i].petVaccinated == "Vaccinated"){ %>
                                style="color: green;" <%}%>
                            <% if(petResults[i].petVaccinated == "Due for Vaccine"){ %> style="color: red;"
                                <%}%>> <%= petResults[i].petVaccinated %></p> </div> <div class="row">
                        </div>
                        <div class="row">
                            <h2 class="pet-info-text">Microchip ID: </h2>
                            <p class="pet-info-text"> 123456789123456</p>
                        </div>
                        <div class="row">
                            <h2 class="pet-info-text">Vet Practice: </h2>
                            <p class="pet-info-text"> <%= petResults[i].petVetPractice %></p>
                        </div>
                        <div class="row">
                            <h2 class="pet-info-text">Vet Name: </h2>
                            <p class="pet-info-text"> <%= petResults[i].petVetName %></p>
                        </div>
                        <div class="row">
                            <button class="book-apt-button" onclick="location.href='/appointments'">Book
                                Appointment</button>
                        </div>
                    </div>
                </div>
                <div style="width:auto">
                    <img src="../img/qr-code.png" alt="QR Code" class="qr-code">
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <%- include('../components/scriptsEnd') %>
    <%- include('../components/footer')  %>
</body>

</html>