<%- include('../components/head') %>

<body>
  <!-- <div class = "background-div"> -->
  <!--Top Navigator-->
  <% let sessionStatus = loginStatus %>
  <%- include('../components/header', {loggedin: sessionStatus})%>

  <!-- Page title section -->
  <div class="intro" title="Pet Passport">
    <h3 class="h3-main-page">Pet Passport</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Type</th>
        <th scope="col">Breed</th>
        <th scope="col">Vaccinated</th>
        <th scope="col">Vet Practice</th>
        <th scope="col">Vet Name</th>
      </tr>
    </thead>
    <tbody>
      <% for(i = 0; i < petResults.length; i ++) { %>
      <tr>
        <td scope="row"> <%= i + 1 %> </td>
        <td><%=petResults[i].petID %></td>
        <td><%=petResults[i].petName %></td>
        <td><%=petResults[i].petAge %></td>
        <td><%=petResults[i].petType %></td>
        <td><%=petResults[i].petBreed %></td>
        <td><%=petResults[i].petVaccinated %></td>
        <td><%=petResults[i].petVetPractice %></td>
        <td><%=petResults[i].petVetName %></td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div>
    <form action="/addPet" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Pet Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter full name" name="petName">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pet Age</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter aproximate age" name="petAge">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pet type</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="e.g. Cat/Dog" name="petType">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pet Breed</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="e.g. Collie/Bengal" name="petBreed">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pet Vet Practice</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Vet Practice" name="petVet">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pet Vet Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Pet Vet Name" name="petVetName">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pet Vaccinated</label>
        <select class="form-select" aria-label="Default select example" name="vacStat" required>
          <option selected>Please select</option>
          <option value="Vaccinated">Vaccinated</option>
          <option value="Due for Vaccine">Due for Vaccine</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <%- include('../components/scriptsEnd') %>
  <%- include('../components/footer')  %>
</body>

</html>